spring:
  datasource:
    url: jdbc:mysql://localhost:3306/gym_management_system
    username: root
    password: xz.2004917
    driver-class-name: com.mysql.cj.jdbc.Driver
  mail:
    host: smtp.qq.com
    port: 587
    username: your_email@qq.com
    password: your_email_auth_code
    protocol: smtp
    default-encoding: UTF-8
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

mybatis:
  mapper-locations: classpath:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true
  type-aliases-package: com.gym.entity

deepseek:
  api:
    key: YOUR_DEEPSEEK_API_KEY
    url: "https://api.deepseek.com/v1/chat/completions"
  model: "deepseek-chat"
